@model LoginViewModel

@{
    
}

<form class="signing-form" asp-controller="Auth" asp-action="Login" method="post">
    <div>
        <label class="signing-title">Username</label>
        <input class="signing-field" asp-for="UserName"/>
    </div>
    <div>
        <label class="signing-title">Password</label>
        <input class="signing-field" asp-for="Password"/>
    </div>
    <input class="submit-button-signing button first" type="submit" value="Sign In"/>
</form>