@model OrderViewModel

@{
    
}

<div>
    <h2 class="edit-title">Order form</h2>
    <form class="edit-form" asp-controller="AdminPanel" asp-action="Edit" method="post">
        <input asp-for="Id" type="hidden"/>
        <div class="edit-bloc">
            <label class="edit-field-title">Sender's City</label>
            <input class="edit-field" asp-for="SendersCity" required/>
        </div>
        <div class="edit-bloc">
            <label class="edit-field-title">Sender's Address</label>
            <input class="edit-field" asp-for="SendersAddress" required/>
        </div>
        <div class="edit-bloc">
            <label class="edit-field-title">Recipient's City</label>
            <input class="edit-field" asp-for="RecipientsCity" required/>
        </div>
        <div class="edit-bloc">
            <label class="edit-field-title">Recipient's Address</label>
            <input class="edit-field" asp-for="RecipientsAddress" required/>
        </div>
        <div class="edit-bloc">
            <label class="edit-field-title">Weight (kg)</label>
            <input class="edit-field" asp-for="Weight" required/>
        </div>
        <div class="edit-bloc">
            <label class="edit-field-title">Receipt Time</label>
            <input class="edit-field" type="date" asp-for="ReceiptDate" required/>
        </div>
        <input class="submit-button-edit button first" type="submit" value="Submit"/>
    </form>
</div>